@page
@using HosVet.App.Dominio
@model HosVet.App.Presentacion.Pages.Auxiliares.IndexModel
@{
}
<h1>Auxiliares de veterinaria</h1><br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Numero de telefono</th>
            <th scope="col">Genero</th>
            <th scope="col">Tarjeta profesional</th>
            <th scope="col">Horas Laborales</th>
        </tr>
    </thead>
    @foreach (var av in @Model.auxiliarVeterinario)
    {
        <tr>
            <td>@av.Nombre</td>
            <td>@av.Apellidos</td>
            <td>@av.NumeroTelefono</td>
            <td>@av.Genero</td>
            <td>@av.TarjetaProfesional</td>
            <td>@av.HotasLaborales</td>
        </tr>
    }
</table>